form {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin: 0 auto;
}
input {
    float: left;
}
textarea {
    float: left;
    margin-bottom: 15px;
}
label {
    float: left;
    clear: left;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 75px;
}
input[type=submit] {
    float: left;
    margin-left: 30%;
}